body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.flexible {
  display: flex;
  margin-bottom: 100px;
  padding-left: 5%;
  padding-right: 5px;
  padding-bottom: 4px;
}
P {
  font-size: 15px;
}
.half_width {
  width: 50%;
  padding-left: 3%;
}
#margin {
  margin-left: 5px;
  border-left: 3px solid rgb(216, 74, 49);
  padding-left: 10px;
}
.mission_color {
  color: orange;
}
.anchor_button {
  text-decoration: none;
  background: rgb(208, 85, 64);
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
}
#part2 {
  font-size: 60px;
}
.blue {
  color: rgb(3, 3, 42);
}
.mission_1st {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
  padding-left: 10px;
  background-color: rgb(221, 221, 136);
}
.vision_2nd {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
  padding-left: 10px;
  background-color: rgb(183, 240, 221);
}
.goals_3rd {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
  padding-left: 10px;
  background-color: rgb(245, 208, 160);
}
.develop {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  margin: none;
  padding-right: 20%;
}
.community {
  padding-left: 20%;
}
#part2 {
  font-size: 50px;
}
#corona_app {
  padding-left: 10%;
}
